<h1>Page d'accueil avec twig</h1>

<p>Bienvenu sur ce site!</p>


<h2>{{titre}}</h2>

<p>{{message}}</p>




<ul>
{%{% for ligne in tableau %}
    <li>{{ligne}}</li>
    
{% endfor %}%}
</ul>


<p>Nom : {{personne.nom}}</p>
<p>Prenom : {{personne.prenom}}</p>

{%{% for ligne in personn %}
    <li>{{ligne.login}} / {{ligne.password}}</li>
{% endfor %}%}